; SETTING UP THE CUSTOM REGISTRY
# @3p-future-solutions:registry=https://hr-tm-cms-git.cisco.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
@collaboration_device_macros:registry=https://hr-tm-cms-git.cisco.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/

; DOWNLOAD PACKAGES
//hr-tm-cms-git.cisco.com/api/v4/packages/npm/:_authToken=cJ3qgGHLnVNc_VjPZao5

; UPLOAD PACKAGES
# //hr-tm-cms-git.cisco.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
# //hr-tm-cms-git.cisco.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=cJ3qgGHLnVNc_VjPZao5
//hr-tm-cms-git.cisco.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}